<c-row ngPreserveWhitespaces>
  
  <c-col xs="12">
    <c-card class="mb-4">
      <c-card-header>
        <strong>Product Entry</strong>
      </c-card-header>
      <c-card-body>
        
        <form cForm>
          <div class="mb-3">
            <label cLabel for="invCode">Inv Code</label>
            <input cFormControl [(ngModel)]="InvoiceModel.InvCode"
                   id="invCode" name="InvCode"
                   placeholder="Enter Invoice Code"
                   type="text" />
          </div>
          <div class="mb-3">
            <label cLabel for="custId">Customer</label>
            <select [(ngModel)]="InvoiceModel.CustId" id="custId" name="I" aria-label="Choose Customer" cSelect class="mb-3" sizing="lg">
              <option [value]="undefined">--Select Customer--</option>
              <option *ngFor="let option of customers | async" [value]="option.Id">{{ option.CustName }}</option>
            </select>
          </div>
          <div class="mb-3">
            <label cLabel for="invDate">Invoice Date</label>
            <input placeholder="Enter Date" type="date" [(ngModel)]="InvoiceModel.InvDate" name="InvDate" cFormControl id="invDate" />
          </div>
          
         
        </form>
        
      </c-card-body>
    </c-card>
  </c-col>
</c-row>
<c-row ngPreserveWhitespaces>

  <c-col xs="12">
    <c-card class="mb-4">
      <c-card-header>
        <strong>Product List</strong>
        <button style="float:right" (click)="onAddClick()" cButton class="mb-3" type="button">
          +
        </button>
      </c-card-header>
      <c-card-body>

        <table [striped]="true" cTable>
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Product Name</th>
              <th scope="col">Qty</th>
              <th scope="col">Price</th>
              <th scope="col">Total Price</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let product of productList, let i = index">
              <th scope="row">{{i + 1}}</th>
              <td>
                <select  [ngModelOptions]="{standalone: true}" [(ngModel)]="product.ProductId" id="productId" name="ProductId" aria-label="Choose Product" cSelect class="mb-3" sizing="lg">
                  <option [value]="undefined">--Select Product--</option>
                  <option *ngFor="let option of products" [value]="option.Id">{{ option.ProductName }}</option>
                </select>
              </td>
              <td><input  [ngModelOptions]="{standalone: true}" cFormControl [(ngModel)]="product.Qty"
       name="ProductId" type="text" /></td>
              <td><input  [ngModelOptions]="{standalone: true}" cFormControl [(ngModel)]="product.ProductPrice"
       name="ProductId" type="text" /></td>
              <td>{{product.Qty * product.ProductPrice}}</td>
            </tr>

          </tbody>
        </table>
        <div class="col-auto">
          <button cButton (click)="onSubmit()" class="mb-3" type="button">
            Submit
          </button>
        </div>
      </c-card-body>
    </c-card>
  </c-col>
</c-row>

